<html>
<body>
  <form action="" method='post'>
    {{ form.hidden_tag() }}
  <p>
    {{ form.title.label }}<br>
    {{ form.title(size=64) }}<br>
  </p>
  <p>
    {{ form.description.label }}<br>
    {{ form.description(size=128) }}<br>
  </p>
  <p>
    {{ form.tags.label }}<br>
    {{ form.tags(size=64) }}<br>
  </p>
  <p>{{ form.submit() }}</p>
  </form>
</body>
</html>
