<a href="{{url_for('login')}}">Login</a>
<a href="{{url_for('register')}}">Register</a>
<a href="{{url_for('new_qus')}}">Ask Question</a>
<a href="{{url_for('question_list')}}">List all questions</a>
