<h2>{{question.title}}</h2>
<p>{{question.description}}</p>
<h5>Tags</h5>
{%for tag in question.tags.all() %}
<p>{{tag.name}}</p>
{%endfor%}
<h5>Answer</h5>
{%for answer in answers%}
<p>{{answer.body}}</p>
{%endfor%}
<a href="{{url_for('answer_question',question_id=question.id)}}">write answer</a>
